<div class="py-2 border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="col-sm-1">
        <a class="nav-link" href="https://www.facebook.com/groups/hackintoshbrazil" target="_blank">
          <img src="{{site.baseurl}}/assets/images/facebook.svg" alt="Facebook" width="32px">
        </a>/hackintoshbrazil
      </div>
      <div class="col-sm-1">
        <a class="nav-link" href="https://discord.gg/xvYvXfsMew" target="_blank">
          <img src="{{site.baseurl}}/assets/images/discord.svg" alt="Discord" width="32px">
        </a>
        Servidor Discord
      </div>
    </div>
  </div>
</div>
